.body {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}

.areaNoticias {
    background-color: rgba(0, 113, 158, 0.3);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 20px;
    margin-left: 290px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.noticia {
    background-color: #544a4a;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-left: 25px;
    padding: 10px;
}