body{
    background-color: #00719E;
    padding: auto;
    /* opacity: 0.5; */
    width: auto;
    height: auto;
    margin-top: 100 px;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    margin: auto;
    color: #FFFFFF;
    align-items: center;
    width: 40%;
    height: 50%;
    overflow: auto;
    padding: 3rem 2rem;
    border-radius: 20px;
    justify-content: center;
  }

.subtitle {
  color: #000000;
  padding: auto;
  position: center;
}

.title {
  color: #FFFFFF;
  padding: auto;
  position: center;
}

.field {
  color: #000000;
  padding: 5%;
  position: center;
}

.label {
  color: #000000;
  padding: 5%;
}

