*{
  background-color: #ffffff;
}

.headerContainer {
  margin-top: 80px;
  margin-left: 500px;
  margin-bottom: 20px;
  background-color: #00719e;
  height: 50px;
  width: 700px;
  border-radius: 10px;
}

.opcoes {
  background-color: inherit;
  padding-top: 14px;
}

li{
  background-color: inherit;
}