.headerContainer {
  margin-top: 80px;
  margin-left: 500px;
  margin-bottom: 20px;
  background-color: #00719e;
  height: 50px;
  width: 700px;
  border-radius: 10px;
}

.opcoes {
  padding-top: 15px;
  border-radius: 20px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

li{
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}