.header {
  background-color: inherit;
  display: flex;
  align-items: center;
  padding-left: 3.5%;
  padding-top: 1.5%;
  justify-content: space-around;
}

.headerContainer {
  
  background-color: #075c7d;
  height: 4%;
  width: 75%;
  border-radius: 5px;
}

.opcoes {
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 2%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

li a{
  cursor: pointer;
  font-size: 100%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

li a:hover{
   color: #95db95
}

@media screen and (max-width:700px) {
  .header{
    display: flex;
    flex-direction: column;
    
  } 
}

@media screen and (max-width:700px) {
  .headerContainer, .opcoes{
    flex-direction: column;
    line-height: 140%;
    max-width: 400px;
  }
}